.container{
  max-width: 2024px;
  display:flex;
  flex-direction: column;
  align-items: center
}
.box{
  width:80%;
}
/*Desktop*/
.header-box{
  height:110px;
  width: 80%;
  background-color: rgb(236, 227, 227);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  z-index: 100;
}
.store-name{
  height:55px;
  width:100%;
  transform: translateX(-50px);
  transition: 2s
}
.title{
  height:35px;
  width:250px;
  background-color:purple;
  margin-top: 10px;
  margin-left:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  font-size:20px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px grey
}
.nav-bar{
  height:55px;
  width:95%;
  background-color: lightskyblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px grey
}
.navigator{
  height:35px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.box-nav-beranda{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:purple;
  text-decoration: none !important;
}
.box-nav-beranda:hover{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: purple;
  box-shadow: 5px 5px 5px grey;
}
.box-nav-beranda:active{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: rgb(153, 31, 153);
  font-size: 15px;
  box-shadow: 0px 5px 5px grey;
}

.box-nav-daftar{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:purple;
  text-decoration: none !important
}
.box-nav-daftar:hover{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: purple;
  box-shadow: 5px 5px 5px grey
}
.box-nav-daftar:active{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: rgb(153, 31, 153);
  font-size: 15px;
  box-shadow: 0px 5px 5px grey;
}
.box-nav-deposit{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:purple;
  text-decoration: none !important
}
.box-nav-deposit:hover{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: purple;
  box-shadow: 5px 5px 5px grey
}
.box-nav-deposit:active{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: rgb(153, 31, 153);
  font-size: 15px;
  box-shadow: 0px 5px 5px grey;
}

.box-nav-format{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:purple;
  text-decoration: none !important
}
.box-nav-format:hover{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: purple;
  box-shadow: 5px 5px 5px grey
}
.box-nav-format:active{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: rgb(153, 31, 153);
  font-size: 15px;
  box-shadow: 0px 5px 5px grey;
}
.box-nav-kontak{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:purple;
  text-decoration: none !important
}
.box-nav-kontak:hover{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: purple;
  box-shadow: 5px 5px 5px grey;
  border-top-right-radius: 5px
}
.box-nav-kontak:active{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:yellow;
  background-color: rgb(153, 31, 153);
  font-size: 15px;
  box-shadow: 0px 5px 5px grey;
  border-top-right-radius: 5px
}
.decoration{
  display:flex;
  align-items: center;
  height:20px;
  width:100%;
  background-color:purple;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  color:yellow
}
.box-body{
  width:100%;
  display:flex;
  flex-direction: column;
  background-color: rgb(236, 227, 227)
}
.body{
  width: 100%;
  display: flex;
  background-color: rgb(236, 227, 227)
}
.beranda{
  width:75%;
  display: flex;
  justify-content: center
}
.beranda-content{
  width:90%;
  display: flex;
  flex-direction: column
}
.beranda-content-header{
  height:70px;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}
.content-prolog{
  color:rgb(73, 68, 68);
  line-height: 25px;
  font-size:15px
}
.box-reason{
  width:100%;
  display: flex;
}
.in-box-reason1{
  width:50%;
  display:flex;
  flex-direction: column;
  padding-right: 25px;
}
.in-box-reason2{
  width:50%;
  display:flex;
  flex-direction: column;
  padding-left: 25px
}
.title-in-box-reason{
  font-size: 20px;
  color:orange;
  font-weight: bold
}
.list-step{
  line-height: 30px;
}
.list-step1{
  color:red;
}
.list-step1:hover{
  color:red;
  font-weight: bold
}
.list-step1::before{
  content: '';
  height:2px;
  width:0;
  display:block;
  background-color:red;
  transition: width .5s
}
.list-step1::after{
  content: '';
  height:2px;
  width:0;
  display:block;
  background-color: red;
  transition: width .5s
}
.list-step1:hover::before{
  width:100%;
  transition: width .5s
}
.list-step1:hover::after{
  width:100%;
  transition: width .5s
}
.list-step2{
  color:purple;
}
.list-step2:hover{
  color:purple;
  font-weight: bold
}
.list-step2::before{
  content: '';
  height:2px;
  width:0;
  display:block;
  background-color: purple;
  transition: width .5s
}
.list-step2::after{
  content: '';
  height:2px;
  width:0;
  display:block;
  background-color: purple;
  transition: width .5s
}
.list-step2:hover::before{
  width:100%;
  transition: width .5s
}
.list-step2:hover::after{
  width:100%;
  transition: width .5s
}
.list-step3{
  color:green
}
.list-step3:hover{
  color:green;
  font-weight: bold
}
.list-step3::before{
  content: '';
  height:2px;
  width:0;
  display:block;
  background-color: green;
  transition: width .5s
}
.list-step3::after{
  content: '';
  height:2px;
  width:0;
  display:block;
  background-color: green;
  transition: width .5s
}
.list-step3:hover::before{
  width:100%;
  transition: width .5s
}
.list-step3:hover::after{
  width:100%;
  transition: width .5s
}
.box-initial{
  height:60px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  color:orange;
  font-size:18px;
  margin-bottom:50px
}
.chart{
  width:100%;
  display: flex;
  flex-direction: column;
  padding-left:20px;
  padding-right:20px;
}
.box-chart{
  height: 15px;
  width: 50%;
  display: flex;
  border:1px solid grey;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow:0px 2px 2px;
  align-items: center
}
.fill-chart{
  height: 15px;
  width:90%;
  display:flex;
  background-color:rgb(19, 226, 19,0.3)
}
.fill-chart::after{
  content:'';
  height: 15px;
  width:0;
  display:flex;
  background-color:rgb(6, 170, 6);
  transition: width .2s
}
.fill-chart:hover::after{
  width:100%;
  background-color:rgb(6, 170, 6);
  transition: width .2s
}
.box-chart2{
  height: 15px;
  width: 50%;
  display: flex;
  border:1px solid grey;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow:0px 2px 2px;
  align-items: center
}
.fill-chart2{
  height: 15px;
  width:85%;
  display:flex;
  background-color:rgb(19, 226, 19,0.3)
}
.fill-chart2::after{
  content:'';
  height: 15px;
  width:0;
  display:flex;
  background-color:rgb(6, 170, 6);
  transition: width .2s
}
.fill-chart2:hover::after{
  width:100%;
  background-color:rgb(6, 170, 6);
  transition: width .2s
}
.box-chart3{
  height: 15px;
  width: 50%;
  display: flex;
  border:1px solid grey;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow:0px 2px 2px;
  align-items: center
}
.fill-chart3{
  height: 15px;
  width:87%;
  display:flex;
  background-color:rgb(19, 226, 19,0.3)
}
.fill-chart3::after{
  content:'';
  height: 15px;
  width:0;
  display:flex;
  background-color:rgb(6, 170, 6);
  transition: width .2s
}
.fill-chart3:hover::after{
  width:100%;
  background-color:rgb(6, 170, 6);
  transition: width .2s
}
.box-chart4{
  height: 15px;
  width: 50%;
  display: flex;
  border:1px solid grey;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow:0px 2px 2px;
  align-items: center
}
.fill-chart4{
  height: 15px;
  width:92%;
  display:flex;
  background-color:rgb(19, 226, 19,0.3)
}
.fill-chart4::after{
  content:'';
  height: 15px;
  width:0;
  display:flex;
  background-color:rgb(6, 170, 6);
  transition: width .2s
}
.fill-chart4:hover::after{
  width:100%;
  background-color:rgb(6, 170, 6);
  transition: width .2s
}
.box-emergency{
  height:100px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid red;
  padding-left: 15px;
  padding-right: 15px
}
.daftar-content{
  width:90%;
  display: flex;
  flex-direction: column
}
.daftar-content-header{
  height:70px;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}
.ketentuan-pendaftaran{
  font-size:18px;
  color:orange;
  font-weight: bold;
  margin-top:20px;
  margin-bottom:20px
}
.list-ketentuan{
  line-height: 30px;
  font-size: 15px;
  color:rgb(73, 68, 68);
  margin-bottom:50px
}
.box-form{
  width:100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px
}
.in-box-form{
  width:80%;
  height: 400px;
  background-color: rgb(20, 207, 240,0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left:20px;
  padding-right: 20px;
  box-shadow: 0px 2px 2px grey
}
.input-nama{
  width:40%;
  margin-bottom: 20px
}
.title-registrasi{
  font-size: 16px;
  color:rgb(73, 68, 68);
  margin-bottom: 30px;
  margin-top: 10px
}
.title-input{
  font-size: 15px;
  color:rgb(73, 68, 68);
  margin-bottom: 5px
}
.box-button{
  height:100px;
  width: 100%;
  display :flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px
}
.button1{
  height:25px;
  width:70px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 180, 34);
  border-radius: 3px;
  font-size: 15px;
  color:white;
  margin-right: 10px;
  box-shadow: 0px 2px 2px grey;
}
.button1:hover{
  background-color: rgb(5, 153, 5);
}
.button1:active{
  font-size: 14px;
  box-shadow:0px 0px 0px 
}
.button2{
  height:25px;
  width:70px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 3px;
  font-size: 15px;
  color:white;
  margin-left: 10px;
  box-shadow: 0px 2px 2px grey;
}
.button2:hover{
  background-color: rgb(202, 24, 24)
}
.button2:active{
  font-size: 14px;
  box-shadow:0px 0px 0px 
}
.box-sms{
  height:70px;
  width:90%;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size:14px;
  color:rgb(73, 68, 68);
  background: rgb(15, 221, 248,0.1);
  border-radius: 5px;
  border:1px solid skyblue;
  margin-bottom: 50px;
}
.sms-center{
  width:25%;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.sms-center-gateway-title{
  font-size: 16px;
  color:grey;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-sms-gateway{
  height:70px;
  width:90%;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 165, 11,0.3);
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid orange;
  transform: rotate(360deg);
  transition: 3s
}
.label-sms{
  font-size: 14px;
  color:rgb(73, 68, 68);
  margin-left: 10px;
  margin-right:10px
}
.label-sms-bold{
  font-weight: bold
}
.line{
  height:2px;
  width:100%;
  background-color: rgb(0, 0, 0,0.1)
}
.line-min{
  margin-top:50px
}
.line-plus{
  margin-bottom: 50px;
}
.line-plus-plus{
  margin-bottom: 50px;;
  margin-top: 50px
}
.box-list-phone-number{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-phone-number{
  height:20px;
  width:95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(73, 68, 68);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(38, 228, 218, 0.3);
  border-radius: 3px;
  transition: 0.2s
}
.list-phone-number:hover{
  height:25px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(73, 68, 68);
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(38, 228, 218,0.3);
  border-radius: 3px;
  box-shadow: 0px 2px 2px;
}
.box-caution{
  height: 50px;
  width: 80%;
  background-color: rgb(248, 165, 11,0.3);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color:rgb(73, 68, 68);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid orange;
  text-align: center;
  transform: rotate(360deg);
  transition: 3s
}
.header-account{
  height:40px;
  width:90%;
  display:flex;
  background-color: rgba(70, 179, 37, 0.973);
  border-radius: 5px
}
.header-account:hover{
  height:40px;
  width:90%;
  display:flex;
  background-color: rgba(44, 150, 12, 0.973);
  border-radius: 5px
}
.header-account2{
  height:40px;
  width:90%;
  display:flex;
  background-color: rgba(70, 179, 37, 0.973);
  border-radius: 5px
}
.header-account2:hover{
  height:40px;
  width:90%;
  display:flex;
  background-color: rgba(44, 150, 12, 0.973);
  border-radius: 5px
}
.header-account3{
  height:40px;
  width:90%;
  display:flex;
  background-color: rgba(70, 179, 37, 0.973);
  border-radius: 5px
}
.header-account3:hover{
  height:40px;
  width:90%;
  display:flex;
  background-color: rgba(44, 150, 12, 0.973);
  border-radius: 5px
}
.header-account4{
  height:40px;
  width:90%;
  display:flex;
  background-color: rgba(70, 179, 37, 0.973);
  border-radius: 5px
}
.header-account4:hover{
  height:40px;
  width:90%;
  display:flex;
  background-color: rgba(44, 150, 12, 0.973);
  border-radius: 5px
}
.box-image-account{
  height: 40px;
  width:20%;
  display:flex;
  justify-content: center;
  align-items: center
}
.box-title-account{
  height: 40px;
  width:80%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  color:white;
  font-size:16px
}
.image-account{
  height: 30px;
  width:30px
}
.account-number{
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  color:rgb(73, 68, 68);
}
.caution-tiket{
  height: 80px;
  width: 80%;
  background-color: rgb(247, 19, 19,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:14px;
  color:rgb(73, 68, 68);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom: 20px;
  border:1px solid red;
  text-align: center;
  transform: rotate(360deg);
  transition: 3s
}
.erase-decoration{
  height:125px;
  width:100%;
  background-color:white
}
.erase-decoration2{
  height:15px;
  width:100%;
  background-color:white
}
.box-footer{
  height: 70px;
  width:100%;
  display:flex;
  background-color: rgb(236, 227, 227);
  justify-content: center;
  align-items: center
}
.mark{
  font-size: 20px;
  color: purple
}